<div class="btn slot">
    <div>
        @if (IsEmpty)
        {
            <span>Empty Slot</span>
        }
        else
        {
            <span style="text-wrap:normal">@ItemName</span>

            <br />
            <span>@Quantity</span>

        }
    </div>
</div>

<style>
    .slot {
        background-color: rgb(255, 255, 255);
        color: black;
        text-wrap: normal;
        border: 1px solid black;
    }

        .slot:hover {
            background-color: rgb(189, 189, 189);
        }
</style>

@code {
    [Parameter] public string ItemName { get; set; }
    [Parameter] public int Quantity { get; set; }
    [Parameter] public bool IsEmpty { get; set; }
    [Parameter] public bool IsSelected { get; set; }
    [Parameter] public (int Column, int Row) Position { get; set; }
    [Parameter]
    public EventCallback<(int Column, int Row)> OnSelected { get; set; }

    private void OnSlotClicked()
    {
        if (!IsEmpty)
        {
            return;
        }
        IsSelected = true;
        InvokeAsync(StateHasChanged);
        OnSelected.InvokeAsync(Position);
    }
}